{% extends "includes/base.twig" %}

{% block corps %}
    <div class="main">
        {% include "infoCrous/nav.twig" %}

        <section class="restaurant-info-container">
            <div class="restaurant-photo"
                 style="background-image: url('{{ restaurant.photo.src ?: "icons/OIG2.jpg" }}');">
                <h1>{{ restaurant.title }}</h1>
            </div>

            <div class="restaurant-details">
                <p><strong>Type :</strong> {{ restaurant.type }}</p>
                <p><strong>Localisation :</strong> {{ restaurant.area }}</p>
                <p><strong>Adresse :</strong> {{ restaurant.address }}</p>

                <p><strong>Accessibilité :</strong> {% if restaurant.accessibility %} Oui {% else %} Non {% endif %}</p>
                <p><strong>WiFi :</strong> {% if restaurant.wifi %} Disponible {% else %} Non disponible {% endif %}</p>

                <h3>Description</h3>
                <p>{{ restaurant.description }}</p>

                <h3>Accès</h3>
                <p>{{ restaurant.access }}</p>

                <h3>Horaires d'ouverture</h3>
                <p>{{ restaurant.operationalhours|replace({'<br/>': '', '<br>': ''}) }}</p>

                <h3>Contact</h3>
                <p><strong>Téléphone :</strong>
                    {% if restaurant.contact.phone %}
                        {{ restaurant.contact.phone }}
                    {% else %}
                        Aucun numéro disponible
                    {% endif %}
                </p>

                <p><strong>Email :</strong>
                    {% if restaurant.contact.email %}
                        <a href="mailto:{{ restaurant.contact.email }}">{{ restaurant.contact.email }}</a>
                    {% else %}
                        Aucun email disponible
                    {% endif %}
                </p>

                <h3>Moyens de paiement acceptés</h3>
                <ul>
                    {% for method in restaurant.payment %}
                        <li>{{ method }}</li>
                    {% else %}
                        <li>Aucun moyen de paiement disponible</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock %}
